.edit-page {

  padding: 20px 50px;
  width: auto;
}

  .page-content {
    background-color: #FFF;
    width: auto;
  }
    .edit-form {
      padding: 20px;
    }

      .submit-button-container {
        justify-content: flex-end;
      }
        .submit-button{
          width: 40%;
        }

        .delete-button{
          width: 40%;
        }
      

      .input-style{
        width: 100%;
      }

      .mat-error {
        font-size: 12px;
      }
    

