<div class="edit-page">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Edit User</li>
    </ol>
  </nav>
  <div class="page-content">
    <div class="row">
      <!-- <div class="col col-md-4">
        <img class="img-avatar" [src]="item.avatar">
        <button mat-stroked-button class="change-img-button" color="primary" (click)="openDialog()">Change Avatar</button>
      </div> -->
      <div class="col col-md-8">

        <form class="edit-form" [formGroup]="userForm" novalidate (ngSubmit)="onSubmit(userForm.value)">

          <div class="form-group">
            <mat-form-field class="input-style">
              <input matInput placeholder="First Name" class="form-control" formControlName="firstname">
            </mat-form-field>
            <ng-container *ngFor="let validation of validation_messages.firstname">
              <mat-error *ngIf="userForm.get('firstname').hasError(validation.type) && (userForm.get('firstname').dirty || userForm.get('firstname').touched)">{{validation.message}}</mat-error>
            </ng-container>
          </div>

          <div class="form-group">
            <mat-form-field class="input-style">
              <input matInput placeholder="Last Name" class="form-control" formControlName="lastname">
            </mat-form-field>
            <ng-container *ngFor="let validation of validation_messages.lastname">
              <mat-error *ngIf="userForm.get('lastname').hasError(validation.type) && (userForm.get('lastname').dirty || userForm.get('lastname').touched)">{{validation.message}}</mat-error>
            </ng-container>
          </div>

          <div class="form-group">
            <mat-form-field class="input-style">
              <input matInput type="text"  placeholder="E-mail" class="form-control" formControlName="email">
            </mat-form-field>
            <ng-container *ngFor="let validation of validation_messages.email">
              <mat-error *ngIf="userForm.get('email').hasError(validation.type) && (userForm.get('email').dirty || userForm.get('email').touched)">{{validation.message}}</mat-error>
            </ng-container>
          </div>

          <div class="row submit-button-container">
            <div class="col-md-4">
              <button mat-raised-button class="submit-button" color="primary" type="submit" [disabled]="!userForm.valid">Save</button>
            </div>
            <div class="col-md-4">
              <button mat-raised-button class="delete-button" color="warn" type="button" (click)="delete()">Delete</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
