<div class="create-page">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Create User</li>
    </ol>
  </nav>
  <div class="page-content">
    <div class="row">
      <!-- <div class="col col-md-4">
        <img class="img-avatar" src="{{avatarLink}}">
        <button mat-stroked-button class="change-img-button" color="primary" (click)="openDialog()">Change Image</button>
      </div> -->

      <div class="col col-md-8">

        <form class="create-form" [formGroup]="userForm" novalidate (ngSubmit)="onSubmit(userForm.value)">

          <div class="form-group">
            <mat-form-field class="input-style">
              <input matInput placeholder="First Name" class="form-control" formControlName="firstname">
            </mat-form-field>
            <ng-container *ngFor="let validation of validation_messages.firstname">
              <mat-error *ngIf="userForm.get('firstname').hasError(validation.type) && (userForm.get('firstname').dirty || userForm.get('firstname').touched)">{{validation.message}}</mat-error>
            </ng-container>
          </div>

          <div class="form-group">
            <mat-form-field class="input-style">
              <input matInput placeholder="Last Name" class="form-control" formControlName="lastname">
            </mat-form-field>
            <ng-container *ngFor="let validation of validation_messages.lastname">
              <mat-error *ngIf="userForm.get('lastname').hasError(validation.type) && (userForm.get('lastname').dirty || userForm.get('lastname').touched)">{{validation.message}}</mat-error>
            </ng-container>
          </div>

          <div class="form-group">
            <mat-form-field class="input-style">
              <input matInput placeholder="E-mail" class="form-control" formControlName="email">
            </mat-form-field>
            <ng-container *ngFor="let validation of validation_messages.email">
              <mat-error *ngIf="userForm.get('email').hasError(validation.type) && (userForm.get('email').dirty || userForm.get('email').touched)">{{validation.message}}</mat-error>
            </ng-container>
          </div>

          <div class="form-group">
            <mat-form-field class="input-style">
              <input matInput placeholder="Address" class="form-control" formControlName="address">
            </mat-form-field>
          </div>

          <div class="form-group">
            Notice:
            <mat-checkbox class="input-style">
              <input type="checkbox" formControlName="noticeC">Create
            </mat-checkbox>
            <mat-checkbox class="input-style">
              <input type="checkbox" formControlName="noticeE">Edit
            </mat-checkbox>
            <mat-checkbox class="input-style">
              <input type="checkbox" formControlName="noticeD">Delete
            </mat-checkbox>
          </div>

          <div class="form-group">
            Post:
            <mat-checkbox class="input-style">
              <input type="checkbox" formControlName="postC">Create
            </mat-checkbox>
            <mat-checkbox class="input-style">
              <input type="checkbox" formControlName="postE">Edit
            </mat-checkbox>
            <mat-checkbox class="input-style">
              <input type="checkbox" formControlName="postD">Delete
            </mat-checkbox>
          </div>
          <div class="form-group">
            Alert:
            <mat-checkbox class="input-style">
              <input type="checkbox" formControlName="alertC">Create
            </mat-checkbox>
            <mat-checkbox class="input-style">
              <input type="checkbox" formControlName="alertE">Edit
            </mat-checkbox>
            <mat-checkbox class="input-style">
              <input type="checkbox" formControlName="alertD">Delete
            </mat-checkbox>
          </div>


          <div class="row submit-button-container">
            <div class="col-md-2">
              <button mat-raised-button class="submit-button" color="primary" type="submit" [disabled]="!userForm.valid">Create</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
