<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <table style="width:90%">
  <tr>
    <th>Entitlement</th>
    <th>Create</th>
    <th>Edit</th>
    <th>Delete</th>
    
  </tr>
  <tr>
    <td>Create</td>
    <td><span class="material-icons" style="color:green;">
      done
      </span></td>
    <td><span class="material-icons" style="color:red;">
      clear
      </span></td>
    <td><span class="material-icons" style="color:green;">
      done
      </span></td>

  </tr>

  <tr>
    <td>Post</td>
    <td><span class="material-icons" style="color:red;">
      clear
      </span></td>
    <td><span class="material-icons" style="color:green;">
      done
      </span></td>
    <td><span class="material-icons" style="color:red;">
      clear
      </span></td>
  </tr>

  <tr>
    <td>Alert</td>
    <td><span class="material-icons" style="color:green;">
      done
      </span></td>
    <td><span class="material-icons" style="color:red;">
      clear
      </span></td>
    <td><span class="material-icons" style="color:green;">
      done
      </span></td>
  </tr>

</table>